* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(173, 171, 171, 0.267);
  
}

.App {
  display: grid;
  justify-content: center;
  margin-top: 5%;
}

.calculator {
  display: grid;
  border: 15px solid #d8d1d12a;
  border-radius: 0em;
}

.display {
  background-color: rgb(226, 216, 216);
  color: rgba(255, 255, 255, 0.842);
  padding: 0.5em 70px;
  font-size: 3em;
  text-align: right;
  font-weight: 700;
}

.keypad {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em;
  background-color: rgb(248, 246, 246);
  padding: 0.25em;
}

button {
  color: rgb(163, 157, 157);
  font-weight: 1000;
  margin: 0.2em 0.1em;
  appearance: none;
  text-decoration: none;
  border: 0.2rem solid rgb(236, 224, 224);
  background-color: rgb(226, 222, 222);
  text-align: center;
  padding: 1em 0.5em;
  font-size: 30px;
  font-size: 2em;
  border-radius: 3em;
}

button:hover {
  color: white;
  border: red;
  opacity: 60%;
}

.operator {
  color: white;
  background-color: rgba(255, 0, 0, 0.527);
  border: rgba(255, 0, 0, 0.507);
}

.equal {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}

.clearCE {
  background-color: rgb(11, 195, 88);
  color: rgb(116, 230, 105);
  border-color: rgb(11, 195, 88);
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.clearC {
  background-color: rgb(11, 195, 88);
  color: rgb(116, 230, 105);
  border-color: rgb(11, 195, 88);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.division {
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.addition {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
}

.subtraction {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.multiplication {
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
